{% extends 'base-template.html' %}

{% block title %}Software Bug Reporter - Home {% endblock %}

{% block content %}
    <h1>Index - Test Home Page</h1>
    {% if request.user.is_authenticated %}
        <p>username: {{request.user}}</p>
        <p>user ID: {{request.user.id}}</p>
        <p>email: {{request.user.email}}</p>
    {% else %}
        <p>Please <a href="{% url 'account_login' %}">login</a></p>
    {% endif %}
    <div class="tasks-main">
        {% include 'tasks/base-kanban-template.html' %}
    </div>
{% endblock %} 