* {
    box-sizing: border-box;
}

body {
    background-color: #444444;
    min-width: 320px;
}

a {
    color: #52baff;
}

a:hover {
    color: #90d2ff;
}

#main {
    height: 100vh;
    color: white;
}

.tasks-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100vh - 110px);
    overflow-x: scroll;
}

.stage {
    padding: 1rem;
    height: 100%;
    min-width: 200px;
    color: white;
    overflow: hidden;
}

.task-container {
    background-color: #cccccc;
    border-radius: 0.5rem;
    height: 90%;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    overflow-y: auto;
}

.draggable {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    min-height: 4rem;
    cursor: move;
    color: #444444;
}

.dragging {
    opacity: 0.5;
    border: dashed 1px
}

.task-level {
    border-radius: 0.2rem;
    padding-left: 0.5rem;
}

.level-1 {
    background-color: darkred;
    color: white;
}

.level-2 {
    background-color: rgba(255,98,0,1);
    color: white;
}

.level-3 {
    background-color: rgba(255,204,0,1);
    color: #111111;
}

.level-4 {
    background-color: darkgreen;
    color: white;
}

.checklist-item:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .date-due {
        display: none;
    }
}
