* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#cc3d00, #ffa436);
    min-width: 320px;
}

table {
    border-radius: 1rem;
    border-top: hidden;
}

textarea {
    height: 90px!important;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#main {
    min-height: 100vh;
    color: white;
}

.navbar {
    background-color: rgba(0,0,0,0)!important;
}

.container-fluid {
    max-width: 1920px;
}

.btn-primary {
    background-color: #167cc0;
}

.navbar-toggler {
    min-height: 34px;
}

#tasks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100vh - 110px);
    overflow-x: scroll;
}

.stage {
    padding: 1rem;
    height: 100%;
    min-width: 200px;
    color: white;
    overflow: hidden;
}

.task-container {
    background-color: #e4e4e4;
    border-radius: 0.5rem;
    height: 90%;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    overflow-y: auto;
}

.draggable {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    min-height: 4rem;
    cursor: move;
    color: #444444;
    box-shadow: 4px 4px 4px grey;
}

.dragging {
    opacity: 0.5;
    border: dashed 1px;
}

.task-title-link {
    color: #007bff;
    display: inline-block;
    max-height: 20px;
    max-width: 130px;
    overflow: hidden;
}

.task-title-link:hover {
    color: #0062ff;
}

.task-level {
    border-radius: 0.2rem;
    padding-left: 0.5rem;
}

.level-1 {
    background-color: darkred;
    color: white;
}

.level-2 {
    background-color: rgba(255,98,0,1);
    color: white;
}

.level-3 {
    background-color: rgba(255,204,0,1);
    color: #111111;
}

.level-4 {
    background-color: darkgreen;
    color: white;
}

.checklist-item:hover {
    cursor: pointer;
}

.checklist-text-input {
    border-radius: 4px;
}

.service-container {
    background-color: #d1d1d1;
    color: #111111;
    border-radius: 1rem;
    padding: 2rem 0.5rem;
}

.service-container:hover {
    cursor: pointer;
}

.service-selected {
    background-color: #165a88;
    color: white;
    scale: 1.1;
}

@media (max-width: 560px) {
    .btn-sm {
        padding: 1px 8px;
        font-size: 0.8rem;
    }
    .task-title-link {
        font-size: 0.8rem;
        max-height: 16px;
    }
    .task-level {
        font-size: 11px;
    }
    #reset-filter {
        display: none;
    }
}

@media (max-width: 1200px) {
    .date-due {
        display: none;
    }
}

@media (min-width: 960px) {
    .task-title-link {
        max-width: max-content;
    }
}
