{% extends 'base-template.html' %}

{% block title %}{{ request.user.username }}'s Memberships{% endblock %}

{% block content %}
<h3 class="mt-3">Hi {{ request.user.username }}, you're a member of the following teams:</h3>
<div class="table-responsive-xl mt-5">
    <table class="table table-dark pb-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team</th>
                <th scope="col">Subscription Expiry</th>
                <th scope="col">Team Controls</th>
                <th scope="col">User Role</th>
                <th scope="col">Membership Controls</th>
            </tr>
        </thead>
        <tbody>
            {% for membership in memberships %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <!-- Team, link to team's tasks -->
                    <td><a class="btn btn-light btn-sm" href="{% url 'tasks_team_route' team_id=membership.team.id %}">{{ membership.team }}</a></td>
                    <!-- Subscription -->
                    <td><a class="btn btn-light btn-sm mr-2" href="{% url 'checkout_select_subscription_route' team_id=membership.team.id %}">{{ membership.team.subscription_expiry }}</a>{% if today > membership.team.subscription_expiry %}Expired!{% endif %}</td>
                    <!-- Team Controls -->
                    <td>
                        {% if membership.is_admin %}
                            <a href="{% url 'update_team_route' team_id=membership.team.id %}" class="btn btn-info btn-sm">Edit team</a>
                            <a href="{% url 'delete_team_route' team_id=membership.team.id %}" class="btn btn-secondary btn-sm">Delete team</a>
                            <a href="{% url 'create_membership_route' team_id=membership.team.id %}" class="btn btn-light btn-sm">Add team member</a>
                            <a href="{% url 'team_transaction_history_route' team_id=membership.team.id %}" class="btn btn-light btn-sm">Transaction history</a>
                        {% else %}
                            admin status required
                        {% endif %}
                    </td>
                    <!-- User Role -->
                    <td>{% if membership.is_admin %}admin{% else %}limited user{% endif %}</td>
                    <!-- Membership Controls -->
                    <td>
                        {% if membership.is_admin %}
                            <a href="{% url 'team_memberships_route' team_id=membership.team.id %}" class="btn btn-light btn-sm">{{ membership.team }}'s memberships</a>
                        {% else %}
                            admin status required
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6"></td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}