{% extends 'base-template.html' %}
{%load crispy_forms_tags %}

{% block title %}Update Team{% endblock %}

{% block nav_page_specific_is_authenticated %}
<li class="nav-item active">
    <a href="{% url 'team_transaction_history_route' team_id=team.id %}" class="nav-link"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="ml-1">Transactions</span></a>
</li>
<li class="nav-item active">
    <a href="{% url 'create_membership_route' team_id=team.id %}" class="nav-link"><i class="fa fa-plus-square" aria-hidden="true"></i><span class="ml-1">Member</span></a>
</li>
{% endblock %}

{%block content %}
<section class="row px-3">
    <div class="col-12 py-0 px-0 d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">

            <div class="row">
                <div class="col mb-2 pt-3 pb-1">
                    <h3>Edit Team Name</h3>
                </div>
            </div>
            
            <h4 class="mt-2 mb-4">Team:<strong class="ml-3">{{ team }}</strong></h4>
            
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Update Team">
            </form>
        </div>
    </div>
</section>
{% endblock %}