{% extends 'base-template.html' %}

{% block title %}All Tasks{% endblock %}

{% block content %}
<div id="main">
    <div class="stage">
        <h3>To Do</h3>
        <div class="task-container" id="stage-1">
            {% for i in '123'|make_list %}
                <div class="draggable stage-1" draggable="true" id="task-{{ forloop.counter }}">
                    <p>{{ forloop.counter }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="stage">
        <h3>In Progress</h3>
        <div class="task-container" id="stage-2">
            {% for i in '123'|make_list %}
                <div class="draggable stage-2" draggable="true" id="task-{{ forloop.counter|add:'3' }}">
                    <p>{{ forloop.counter|add:'3' }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="stage">
        <h3>Review</h3>
        <div class="task-container" id="stage-3">
            {% for i in '123'|make_list %}
                <div class="draggable stage-3" draggable="true" id="task-{{ forloop.counter|add:'6' }}">
                    <p>{{ forloop.counter|add:'6' }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="stage">
        <h3>Done</h3>
        <div class="task-container" id="stage-4">
            {% for i in '123'|make_list %}
                <div class="draggable stage-4" draggable="true" id="task-{{ forloop.counter|add:'9' }}">
                    <p>{{ forloop.counter|add:'9' }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}