{% for stage_id, stage in tasks.items %}
    <section class="stage">
        <div class="row mx-0 px-1 justify-content-between">
            <h4 class="col-auto mt-lg-2 mb-1 px-0">{{ stage.stage_label }}</h4>
            <a {% if demo %} onclick="toastr.info('This is just a demo. Please sign up for an account or log in to view your teams.')"{% else %}href="{% url 'create_task_route' team_id=team_id %}"{% endif %} class="d-none d-lg-block my-2 btn btn-secondary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
        </div>
        <div class="task-container" id="stage-{{ stage_id }}">
            {% for task in stage.tasks %}
                <article class="draggable stage-{{ stage_id }}" draggable="true" id="task-{{ task.id }}">
                    <h6 class="mb-1"><a {% if demo %} onclick="toastr.info('This is just a demo. Please sign up for an account or log in to view your teams.')"{% else %}class="task-title-link" href="{% url 'task_single_route' team_id=task.team.id task_id=task.id %}"{% endif %}>{{ task.title }}</a></h6>
                    {% if task.description %}<p class="d-none d-xl-block mb-2">{{ task.description|truncatechars:64 }}</p>{% endif %}
                    <div class="row mb-1 mx-0">
                        <span class="col-12 col-xl-6 px-0 pr-xl-1"><p class="mb-1 level-{{task.priority_level.id}} task-level">Priority: {{ task.priority_level.priority_level }}</p></span>
                        <span class="col-12 col-xl-6 px-0 pl-xl-1"><p class="mb-1 level-{{task.severity_level.id}} task-level">Severity: {{ task.severity_level.severity_level }}</p></span>
                    </div>
                    <div class="row mb-1 mx-0">
                        <a {% if demo %} onclick="toastr.info('This is just a demo. Please sign up for an account or log in to view your teams.')"{% else %}href="{% url 'update_task_route' team_id=task.team.id task_id=task.id %}"{% endif %} class="btn btn-info btn-sm">Edit</a>
                        {% if demo %}<a class="btn btn-secondary btn-sm ml-1" onclick="toastr.info('This is just a demo. Please sign up for an account or log in to view your teams.')">Delete</a>{% elif membership.is_admin or request.user.id == task.task_creator.id %}<a href="{% url 'delete_task_route' team_id=task.team.id task_id=task.id %}" class="btn btn-secondary btn-sm ml-1">Delete</a>{% endif %}
                        {% if task.date_due %}<p class="date-due ml-auto mb-0 pt-2">Due: {{ task.date_due }}</p>{% endif %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endfor %}