{% extends 'base-template.html' %}
{% load static %}

{% block title %}Team {{ membership.team }}'s Tasks{% endblock %}

{% block nav_page_specific_is_authenticated %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'checkout_select_subscription_route' team_id=membership.team.id %}">{{ membership.team }}'s subscription</a>
    </li>
    {% if membership.is_admin %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'team_memberships_route' team_id=membership.team.id %}">{{ membership.team }}'s memberships</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'create_membership_route' team_id=membership.team.id %}">Add team member</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

    <!-- Filter tasks -->
    <div class="filter-tasks">
        <!-- Filter toggle button -->
        <span class="navbar navbar-dark bg-dark">
            <a href="{% url 'create_task_route' team_id=team_id %}" class="navbar-toggler btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i> Report new bug</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa fa-filter" aria-hidden="true"></i> Filter bug reports</span>
            </button>
        </span>
        <!-- Filter form -->
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <form method="GET">
                    {% load crispy_forms_tags %}
                    {{filter_tasks_form|crispy}}
                    <input type="submit" class="btn btn-light" value="Filter"/>
                    <a href="{% url 'tasks_team_route' team_id=membership.team.id %}" class="btn btn-secondary">Reset Search</a>
                </form>
            </div>
        </div>
    </div>

    <div class="tasks-main">
        <input type="hidden" name="{{ team_id }}" id="is_authenticated" value="{{request.user.is_authenticated}}">
        {% include 'tasks/base-kanban-template.html' %}
    </div>
    
{% endblock %}

{% block javascript_page_specific %}<script src="{% static 'js/drag-and-drop.js' %}"></script>{% endblock %}
