{% extends 'base-template.html' %}

{% block title %}Team {{ membership.team }}'s Tasks{% endblock %}

{% block content %}
{% if membership.is_admin %}<a href="{% url 'team_memberships_route' team_id=membership.team.id %}" class="btn btn-light">{{ membership.team }}'s memberships</a>{% endif %}
<div class="tasks-main">
    <input type="hidden" name="{{ team_id }}" id="is_authenticated" value="{{request.user.is_authenticated}}">
    {% include 'tasks/base-kanban-template.html' %}
</div>
{% endblock %}